<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
    	<typeAlias type="com.kh.muze.calendar.model.vo.Diary" alias="diary"/>
		<typeAlias type="com.kh.muze.calendar.model.vo.Schedule" alias="schedule"/>
		<typeAlias type="com.kh.muze.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.muze.show.model.vo.Show" alias="show" />
		<typeAlias type="com.kh.muze.seat.model.vo.SeatPrice" alias="seatprice" />
		<typeAlias type="com.kh.muze.reservation.model.vo.Reservation" alias="reservation" />
		<typeAlias type="com.kh.muze.seat.model.vo.Seat" alias="seat" />
		<typeAlias type="com.kh.muze.attachment.model.vo.Attachment" alias="attachment"/>
		<typeAlias type="com.kh.muze.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.muze.board.model.vo.Reply" alias="reply"/>
		<typeAlias type="com.kh.muze.reservation.model.vo.Order" alias="order" />
		<typeAlias type="com.kh.muze.kakao.model.vo.Book" alias="book" />
		<typeAlias type="com.kh.muze.reservation.model.vo.Ticket" alias="ticket" />
		<typeAlias type="com.kh.muze.board.model.vo.Report" alias="report"/>
		<typeAlias type="com.kh.muze.bookmark.model.vo.Bookmark" alias="bookmark" />
		<typeAlias type="com.kh.muze.board.model.vo.Deal" alias="deal"/>
		<typeAlias type="com.kh.muze.board.model.vo.Like" alias="like"/>
		<typeAlias type="com.kh.muze.rank.model.vo.Rank" alias="rank"/>
	</typeAliases>
	 
	<mappers>
    	<mapper resource="/mapper/calendar-mapper.xml"/>
		<mapper resource="/mapper/member-mapper.xml" />
		<mapper resource="/mapper/reservation-mapper.xml" />
		<mapper resource="/mapper/seat-mapper.xml" />
		<mapper resource="/mapper/board-mapper.xml"/>
		<mapper resource="/mapper/bookmark-mapper.xml"/>
		<mapper resource="/mapper/rank-mapper.xml" />
	</mappers>
	
</configuration>