<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendarMapper">
<resultMap type="diary" id="diaryResultMap">
	<result column="DIARY_NAME" property="diaryName" />
	<result column="DIARY_USER" property="diaryUser" />
	<result column="DIARY_NO" property="diaryNo" />
	<result column="ATT_NO" property="attNo" />
	<result column="DIARY_TITLE" property="diaryTitle" />
	<result column="DIARY_CONTENT" property="diaryContent" />
	<result column="DIARY_DATE" property="diaryDate" />
	<result column="ATT_YN" property="attStatus" />
	<result column="MODIFIED_NAME" property="modifiedName" />
</resultMap>
	<insert id="insertDiary" parameterType="diary">
		INSERT
		  INTO
		  		DIARY
		  		(
		  		DIARY_USER,
				DIARY_NO,
				DIARY_TITLE,
				DIARY_CONTENT,
				DIARY_YN,
				ATT_YN,
				DIARY_DATE,
				CREATE_DATE
		  		)
	   VALUES
	   			(
	   			#{diaryUser},
	   			SEQ_DIARY_NO.NEXTVAL,
	   			#{diaryTitle},
	   			#{diaryContent},
	   			'Y',	
	   			#{attStatus},
	   			#{diaryDate},
	   			SYSDATE
	   			)
	</insert>
	<insert id="insertAttachment" parameterType="attachment">
		INSERT
		  INTO
		  		ATTACHMENT
		  		(
		  		ATT_NO,
				CONTENT_NO,
				ORIGIN_NAME,
				MODIFIED_NAME,
				ATT_CATEGORY_NO
		  		)
		VALUES
				(
				SEQ_ATT_NO.NEXTVAL,
				(
		        SELECT
				      CASE 
				            WHEN #{contentNo} = 0 THEN MAX(DIARY_NO)
				            WHEN #{contentNo} > 0 THEN #{contentNo}
				            ELSE MAX(DIARY_NO)
				       END
				  FROM
				      DIARY
		        ),
				#{originName},
				#{modifiedName},
				#{attCategoryNo}
				)
	</insert>
	<select id="selectDiary" parameterType="_int" resultMap="diaryResultMap">
		SELECT 
				NVL(DNC.DIARY_NAME,'YOUR MY DIARY') AS "DIARY_NAME", 
				DY.*, 
				MODIFIED_NAME
		  FROM 
		  		DIARY_NAME_CATEGORY DNC
		  FULL 
		  JOIN 
           		(SELECT 
	                    DIARY_USER,
	                    DIARY_NO,
	                    DIARY_TITLE,
	                    DIARY_CONTENT,
	                    DIARY_DATE,
	                    ATT_YN
             	   FROM
                   		DIARY
            	  WHERE
                  		DIARY_YN = 'Y') DY
					 ON (USER_NO = DIARY_USER)
				   LEFT 
				   JOIN 
				   		ATTACHMENT ON CONTENT_NO = DIARY_NO
				  WHERE (DY.DIARY_USER = #{diaryUser} OR DNC.USER_NO = #{diaryUser})
	</select>
	<insert id="insertDiaryName" parameterType="map">
		INSERT
		  INTO
		  		DIARY_NAME_CATEGORY
		  		(
		  		USER_NO,
		  		DIARY_NAME
		  		)
		VALUES
				(
				#{userNo},
				#{diaryName}
				)
	</insert>
	<select id="selectDiaryName" parameterType="map" resultType="_int">
		SELECT
		        COUNT(*)
		  FROM
		        DIARY_NAME_CATEGORY
		 WHERE
		        USER_NO = #{userNo}
	</select>
	<update id="updateDiaryName" parameterType="map">
		UPDATE 
		        DIARY_NAME_CATEGORY
		   SET
		        DIARY_NAME = #{diaryName}
		 WHERE
		        USER_NO = #{userNo}
	</update>
	<select id="selectDiaryDetail" parameterType="diary" resultMap="diaryResultMap">
		SELECT
		        DIARY_NO,
		        NVL(ATT.ATT_NO , 0) AS "ATT_NO",
		        DIARY_TITLE,
		        MODIFIED_NAME,
		        DIARY_CONTENT,
		        ATT_YN,
		        DIARY_DATE
		  FROM
		        DIARY D
		  FULL
		  JOIN
		        ATTACHMENT ATT ON (D.DIARY_NO = ATT.CONTENT_NO)
		 WHERE
		        DIARY_USER = #{diaryUser}
		   AND
		   		DIARY_TITLE = #{diaryTitle}
		   AND
		   		DIARY_NO = #{diaryNo}
		   AND
		   		DIARY_YN = 'Y'
	</select>
	<insert id="insertSchedule" parameterType="schedule">
		INSERT
		  INTO
		  		SCHEDULE
		  		(
		  		SCHEDULE_NO,
				USER_NO,
				SC_DATE,
				SC_TIME,
				SC_TITLE,
				SC_CREATE_DATE
		  		)
		VALUES
				(
				SEQ_SCHEDULE_NO.NEXTVAL,
				#{userNo},
				#{scDate},
				#{scTime},
				#{scTitle},
				SYSDATE
				)
	</insert>
	<select id="selectSchedule" parameterType="_int" resultType="schedule">
		SELECT
				SCHEDULE_NO scheduleNo,
		        SC_TITLE scTitle,
		        SC_DATE scDate,
				SC_TIME scTime,
				SC_TITLE scTitle
		  FROM
		  		SCHEDULE
		 WHERE
		 		USER_NO = #{diaryUser}
	</select>
	<delete id="deleteSchedule" parameterType="map">
		DELETE
				SCHEDULE
		 WHERE
		 		USER_NO = #{userNo}
		   AND
		   		SCHEDULE_NO = #{scheduleNo}
	</delete>
	<update id="deleteDiary" parameterType="map">
		UPDATE 
				DIARY
		   SET 
		   		DIARY_YN = 'N' 
		 WHERE 
		 		DIARY_USER = #{diaryUser}
		   AND 
		   		DIARY_NO = #{diaryNo}
		   AND
		   		DIARY_YN = 'Y'
	</update>
	<update id="updateDiary" parameterType="diary">
		UPDATE
		        DIARY
		   SET
		        DIARY_TITLE = #{diaryTitle},
		        DIARY_CONTENT = #{diaryContent},
		        ATT_YN = #{attStatus}
		 WHERE
		        DIARY_USER = #{diaryUser}
		   AND
		        DIARY_NO = #{diaryNo}
	</update>
	<update id="updateAttachment" parameterType="attachment">
		UPDATE
		        ATTACHMENT
		   SET
		        ORIGIN_NAME = #{originName},
		        MODIFIED_NAME = #{modifiedName}
		 WHERE
		        CONTENT_NO = #{contentNo}
		   AND
		   		ATT_CATEGORY_NO = #{attCategoryNo}
	</update>
	<select id="selectAttachment" parameterType="attachment" resultType="_int">
		SELECT 
				COUNT(CONTENT_NO) 
		  FROM 
		  		ATTACHMENT 
		 WHERE 
		 		CONTENT_NO = #{contentNo}
	</select>
</mapper>