<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<select id="loginMember" parameterType="member" resultType="member">
		SELECT
			  USER_NO userNo,
			  USER_ID userId,
			  USER_PWD userPwd,
			  USER_NAME userName,
			  EMAIL email,
			  PHONE phone,
			  ENROLL_DATE enrollDate,
			  USER_GRADE userGrade
		FROM
			MEMBER
	  WHERE
	  		USER_ID = #{userId}
	  	<!--  
	  	AND
	  		USER_PWD = #{userPwd}
	  		-->
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT
		  	  INTO
			  MEMBER
		  	  (
		  		USER_NO,
		  		USER_ID,
		  		USER_PWD,
		  		USER_NAME,
		  		EMAIL,
		  		PHONE
		  	  )
		VALUES
			  (
			  	SEQ_MNO.NEXTVAL,
			  	#{userId},
			  	#{userPwd},
			  	#{userName},
			  	#{email},
			  	#{phone}
			  )
		
	</insert>
	
	<update id="updateMember" parameterType="member">
		update
			   member
		   set
		   	   user_name = #{userName}
		   	   ,phone = #{phone}
		   	   ,email = #{email}
		  where
		  		user_id = #{userId}
	
	</update>

</mapper>