<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">
	<resultMap id="reservationMap" type="show">
		<result column="MUS_ID" property="musId" />
		<result column="THEATER_ID" property="theaterId" />
		<result column="THEATHER_NAME" property="theaterName" />
		<result column="GENRE_NO" property="genreNo" />
		<result column="GENRE" property="genreName" />
		<result column="MUS_TITLE" property="musTitle" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="PRODUCER" property="producer" />
		<result column="RUN_TIME" property="runTime" />
		<result column="POSTER" property="poster" />
		<result column="AGE_RATE" property="ageRate" />
		<result column="STATUS" property="status" />
		<result column="PER_TIME" property="perTime" />
		<result column="CAST" property="cast" />
		<result column="ROWNUM" property="rowNo" />
	</resultMap>
	
	<resultMap id="disabledSeatMap" type="reservation">
		<result column="SEAT_NO" property="seatNo" />
		<result column="SEAT_TYPE" property="seatType" />
		<result column="SEAT_ID" property="seatId" />
		<result column="RES_NO" property="resNo" />
		<result column="RES_DATE" property="resDate" />
		
	</resultMap>
	
	<select id="showLatest" resultMap="reservationMap">
		SELECT 
				ROWNUM, A.*
		 FROM 
		 		(SELECT 
				        MUS_ID,
				        T.THEATHER_NAME,
				        GENRE_NO,
				        MUS_TITLE,
				        START_DATE,
				        END_DATE,
				        RUN_TIME,
				        POSTER,
				        AGE_RATE,
				        STATUS,
				        PER_TIME,
				        CAST
				 FROM 
				        SHOW S
		         JOIN
		                THEATER T
		          ON
		               (T.THEATER_ID = S.THEATER_ID)
				 WHERE 
				        STATUS = '공연중' 
				 ORDER 
				    BY 
				        START_DATE DESC)A
	</select>

	<select id="selectMus" parameterType="string" resultMap="reservationMap">
		SELECT 
			        MUS_ID,
			        T.THEATHER_NAME,
			        GENRE,
			        MUS_TITLE,
			        START_DATE,
			        END_DATE,
			        RUN_TIME,
			        POSTER,
			        AGE_RATE,
			        STATUS,
			        PER_TIME,
			        CAST
		 FROM 
				    SHOW S
		 JOIN
		            THEATER T
		   ON
		            (T.THEATER_ID = S.THEATER_ID)
         JOIN
                    SHOW_GENRE
         USING    
                    (GENRE_NO)
		  WHERE 
				    STATUS = '공연중' 
            AND
                    MUS_ID = #{ musId }	
	</select>
	 
	<select id="selectMusPrice" resultType="seatprice">
		SELECT
		        SEATPK seatPk,
		        KIND kind,
		        PRICE price
		  FROM
		        SEATPRICE	
	</select>
	<!-- 
	<select id="disabledSeat" resultType="reservation" resultMap="disabledSeatMap">
		SELECT 
				SEAT_NO,
				SEAT_TYPE, 
				SEAT_ID, 
				RES_NO, 
				RES_DATE 
		 FROM 
				SEAT S
		 JOIN 
		 		RESERVATION R 
		USING
		 		(SEAT_NO)
		WHERE 
				R.MUS_ID = #{ musId }
		  AND 
		  		RES_DATE = #{ selectDate }
	</select>
	-->
	
	<select id="totalPrice" parameterType="string" resultType="_int">
		SELECT
       			 PRICE
 		 FROM
        		 SEATPRICE
		 WHERE
        		KIND = (SELECT
                        		SEAT_TYPE
                 		 FROM
                        		SEAT
               			 WHERE
                        		SEAT_ID = #{seatId})
	</select>
	
	<insert id="insertReservation" parameterType="string">
		
	
	</insert> 
	
	<select id="putSeatNo" parameterType="string" resultType="seat">
		SELECT 
				SEAT_NO seatNo
		  FROM 
		  		SEAT 
		 WHERE 
		 		SEAT_ID = #{seatId}
	</select>
	
		
</mapper>