<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">
	<resultMap id="reservationMap" type="show">
		<result column="MUS_ID" property="musId" />
		<result column="THEATER_ID" property="theaterId" />
		<result column="THEATHER_NAME" property="theaterName" />
		<result column="GENRE_NO" property="genreNo" />
		<result column="GENRE" property="genreName" />
		<result column="MUS_TITLE" property="musTitle" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="PRODUCER" property="producer" />
		<result column="RUN_TIME" property="runTime" />
		<result column="POSTER" property="poster" />
		<result column="AGE_RATE" property="ageRate" />
		<result column="STATUS" property="status" />
		<result column="PER_TIME" property="perTime" />
		<result column="CAST" property="cast" />
		<result column="ROWNUM" property="rowNo" />
	</resultMap>
	
	<resultMap id="disabledSeatMap" type="reservation">
		<result column="SEAT_NO" property="seatNo" />
		<result column="SEAT_TYPE" property="seatType" />
		<result column="SEAT_ID" property="seatId" />
		<result column="RES_NO" property="resNo" />
		<result column="RES_DATE" property="resDate" />
		
	</resultMap>
	
	<resultMap id="ticketListMap" type="Mymuze">
		<result column="TICKET_NO" property="ticketNo" />
		<result column="MUS_ID" property="musId" />
		<result column="MUS_TITLE" property="musTitle" />
		<result column="RES_NO" property="resNo" />
		<result column="RES_DATE" property="resDate" />
		<result column="THEATER_ID" property="theaterId" />
		<result column="THEATHER_NAME" property="theaterName" />
		<collection property="seatIdlist" resultMap="seatIdsMap"></collection>
	</resultMap>
	
	<resultMap id="seatIdsMap" type="seat">
		<result column="SEAT_NO" property="seatNo" />
		<result column="SEAT_ID" property="seatId" />
	</resultMap>
	
	
	<select id="showLatest" resultMap="reservationMap">
		SELECT 
						ROWNUM, A.*
		  FROM 
				 		(SELECT 
						        MUS_ID,
						        T.THEATHER_NAME,
						        GENRE_NO,
						        MUS_TITLE,
						        START_DATE,
						        END_DATE,
						        RUN_TIME,
						        POSTER,
						        AGE_RATE,
						        STATUS,
						        PER_TIME,
						        CAST
						 FROM 
						        SHOW S
				         JOIN
				                THEATER T
				          ON
				               (T.THEATER_ID = S.THEATER_ID)
						 WHERE 
						        STATUS = '공연중' 
		                  AND
		                        GENRE_NO = 1
		                ORDER
		         		   BY
		         				START_DATE ASC  )A
	</select>

	<select id="selectMus" parameterType="string" resultMap="reservationMap">
		SELECT 
			        MUS_ID,
			        T.THEATHER_NAME,
			        GENRE,
			        MUS_TITLE,
			        START_DATE,
			        END_DATE,
			        RUN_TIME,
			        POSTER,
			        AGE_RATE,
			        STATUS,
			        PER_TIME,
			        CAST
		 FROM 
				    SHOW S
		 JOIN
		            THEATER T
		   ON
		            (T.THEATER_ID = S.THEATER_ID)
         JOIN
                    SHOW_GENRE
         USING    
                    (GENRE_NO)
		  WHERE 
				    STATUS = '공연중' 
            AND
                    MUS_ID = #{ musId }	
	</select>
	 
	<select id="selectMusPrice" resultType="seatprice">
		SELECT
		        SEATPK seatPk,
		        KIND kind,
		        PRICE price
		  FROM
		        SEATPRICE	
	</select>
	<!-- 
	<select id="disabledSeat" resultType="reservation" resultMap="disabledSeatMap">
		SELECT 
				SEAT_NO,
				SEAT_TYPE, 
				SEAT_ID, 
				RES_NO, 
				RES_DATE 
		 FROM 
				SEAT S
		 JOIN 
		 		RESERVATION R 
		USING
		 		(SEAT_NO)
		WHERE 
				R.MUS_ID = #{ musId }
		  AND 
		  		RES_DATE = #{ selectDate }
	</select>
	-->
	
	<select id="totalPrice" parameterType="string" resultType="_int">
		SELECT
       			 PRICE
 		 FROM
        		 SEATPRICE
		 WHERE
        		KIND = (SELECT
                        		SEAT_TYPE
                 		 FROM
                        		SEAT
               			 WHERE
                        		SEAT_ID = #{seatId})
	</select>
	
<!-- 	<insert id="insertReservation" parameterType="java.util.List">
    	<foreach collection="map" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
		  INTO
					RESERVATION
		VALUES(
	    SEQ_RES.NEXTVAL
    	, #{item.listMap.orderUserNo}
        , #{item.listMap.orderMusId}
        , #{item.listMap.seatZip.seatNo}
        , #{item.listMap.orderDate}
        , 'Y'
        , 1
        )
    	</foreach>
	</insert> --> 
	
	<select id="putSeatNo" parameterType="string" resultType="seat">
		SELECT 
				SEAT_NO seatNo
		  FROM 
		  		SEAT 
		 WHERE 
		 		SEAT_ID = #{seatId}
	</select>
	
<!-- <insert id="bookReserve" parameterType="book">
		INSERT
		  INTO
		  		RESERVATION
		VALUES
				(
				SEQ_RES.NEXTVAL,
				#{ bookUserNo },
				#{ bookMusId },
				#{ bookSeatNo },
				#{ bookDate },
				'Y',
				1
				)
	</insert> -->	
	
	<select id="selectReserNo" parameterType="order" resultMap="disabledSeatMap">
		SELECT
			        RES_NO 
		  FROM
			        RESERVE
		 WHERE
			        USER_NO = #{ orderUserNo }
		   AND
			        MUS_ID = #{ orderMusId }
		   AND
			        RES_DATE = #{ orderDate }
	</select>
	
<!-- <insert id="ticketIssuance" parameterType="ticket">
		INSERT
		  INTO
			        TICKET
		VALUES
			        (
					#{ ticketNo },
        			#{ resNo }
			        )
	</insert> -->	
	
	<insert id="insertReservation" parameterType="order">
		INSERT
		  INTO
		  			RESERVE
		VALUES
					(
					SEQ_RESERVE.NEXTVAL,
					#{ orderUserNo },
					#{ orderMusId },
					#{ orderDate },
					'Y',
					1
					)
	</insert>
	
	<insert id="insertBook" parameterType="_int">
		INSERT
		  INTO
		  		BOOK
		VALUES
				(
				SEQ_RESERVE.CURRVAL,
				#{ seatNo }
				)
	</insert> 
	
<!--	<insert id="insertBook" parameterType="java.util.List">
		INSERT
		  INTO
		  		BOOK
		  		(
		  		BOOK_NO,
		  		SEAT_NO
		  		)
		VALUES
		<foreach collection="list" item="item" separator=" ">
				(
				SEQ_RESERVE.CURRVAL,
				#{ item.seatNo }
				)
		</foreach>
	</insert>   -->
	
	
	
	
	
	<insert id="insertTicket" parameterType="string">
		INSERT
		  INTO
		  		TICKET
		 VALUES
		 		(
		 		#{ aid },
		 		SEQ_RESERVE.CURRVAL
		 		)
	</insert>	
	
	<select id="receiveResno" parameterType="_int" resultMap="disabledSeatMap">
		SELECT 
		        RES_NO
		  FROM
		        TICKET T
		 JOIN
		        RESERVE R
		USING
		        (RES_NO)
		 WHERE
		        R.USER_NO = #{userNo}
	</select>
	
	<select id="ticketList" parameterType="_int" resultMap="ticketListMap">
		SELECT
	        		TICKET_NO, 
	        		MUS_ID, 
	        		MUS_TITLE,  
	        		RES_NO, 
	        		SEAT_NO, 
	        		SEAT_ID, 
	        		to_char(RES_DATE, 'YYYY-MM-DD') AS RES_DATE,
	        		s.theater_id, 
	        		t.theather_name
		  FROM
			        BOOK
		  JOIN
			        RESERVE
		    ON
			        (RES_NO = BOOK_NO)
		  JOIN
		       		TICKET
		 USING
		        	(RES_NO)
		  JOIN
		        	SHOW S
		 USING
		       		(MUS_ID)
		  JOIN
		        	SEAT
		  USING
		        	(SEAT_NO)
		 JOIN
		        	THEATER T
		 ON
		        	(T.THEATER_ID = S.THEATER_ID)
		 WHERE
		        	RES_NO = #{resNo}
	</select>
	
	<select id="searchMuze" parameterType="_int" resultMap="reservationMap">
		SELECT 
						ROWNUM, A.*
		  FROM 
				 		(SELECT 
						        MUS_ID,
						        T.THEATHER_NAME,
						        GENRE_NO,
						        MUS_TITLE,
						        START_DATE,
						        END_DATE,
						        RUN_TIME,
						        POSTER,
						        AGE_RATE,
						        STATUS,
						        PER_TIME,
						        CAST
						 FROM 
						        SHOW S
				         JOIN
				                THEATER T
				          ON
				               (T.THEATER_ID = S.THEATER_ID)
						 WHERE 
						        STATUS = '공연중'
				<choose>
					<when test="genre == 1">
					AND
		                        GENRE_NO = 1	
					</when>
					<otherwise>
					AND
		                        GENRE_NO = 2	
					</otherwise>
				</choose> 
		      ORDER
		         BY
		         		START_DATE ASC)A            
	</select>
</mapper>